<!DOCTYPE html>
<html>
    <head> 
	<link rel="icon" type="image/png" href="cisol2017.png" />
	<title>CISOL</title>
	<style> 
		body{
			background: url("/home/ofelia/Documents/temp/entorno/prowecto/projecto/src/templates/fondo1.jpg") no-repeat center fixed;
			background-size: cover;
			color:blue;
		}
		table{
			margin-top=100px;
			margin-bottom=100px;
			margin-right=80px;
			margin-left=80px;
		}
		td{
			padding:30px;
		}
		
	</style>
       
    </head>
    <body>
    	 <img src="cisol2017.png" width="1350" height="200" align="center">
    	 {% extends 'base.html' %}

{% block content %}
{% endblock %} 
    </body>
</html>
